<%- include("header") -%>

<h2>This is a simple To-do list web app.</h2>

<p><ul>
    <li>Create multiple custom list as per your need.</li>
    <li>All data is store in database so dont worry about your data.</li>
</ul></p>

<%- include("footer") -%>
